BasedOnStyle: WebKit
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: true
AlignTrailingComments: true
IndentWidth: 2
BreakConstructorInitializers: BeforeComma
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 100
AllowShortEnumsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AccessModifierOffset: -2
